@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    
}



body {
    height: 400vh;
    background-color: #061E35;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    
    
}

 .navbar {
    width: 84%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 100000;
}
 .navbar .navbar-logo {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .navbar .navbar-logo  img {
    width: 155px;
    height: 70px;
}

 .navbar .navbar-items {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navbar .navbar-items .navbar-item {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .navbar .navbar-items .navbar-item a {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 4px;
    font-family: 'Comfortaa', cursive;
    color: #A7E7F9;
    text-decoration: none;
}

.navbar .navbar-items .navbar-item a:hover{
    transition: 0.4s;
    text-shadow: 0 0 10px #A7E7F9,
                 0 0 20px #A7E7F9,
                 0 0 40px #A7E7F9,
                 0 0 80px #A7E7F9,
                 0 0 120px #A7E7F9,
                 0 0 160px #A7E7F9,
                 0 0 200px #A7E7F9,
                 0 0 240px #A7E7F9,
                 0 0 280px #A7E7F9,
                 0 0 340px #A7E7F9,
                 0 0 400px #A7E7F9,
                 0 0 460px #A7E7F9,
                 0 0 1500px #A7E7F9;
    font-size: 18px;
    font-weight: 700;
}




.sticky {
    background: #fff;
    width: 80%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    margin: 0 6%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 100000;
}

.sticky .navbar-items .navbar-item a {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Comfortaa', cursive;
    color: #061E35;
    text-decoration: none;
}
.sticky .navbar-items .navbar-item a:hover {
    transition: 0.4s;
    text-shadow: 0 0 40px #061E35,
                 0 0 80px #061E35,
                 0 0 120px #061E35;
    font-size: 18px;
    font-weight: 700;
}
.container {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 12vh;
    background-image: url("images/home-cover1.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;

}

.container .text {
    box-sizing: border-box;
    width: 45%;
    height: 78%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container .text .Title{
    font-size: x-large;
    font-weight: 600;
    color: #fff;
}

.container .text p {
    line-height: 23px;
    color: #fff;
}
.container .text .symbol{
    text-align: center;
    color: #fff;
}
.container .text .J  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 10%;
}
.container .text .J a {
    color: #A7E7F9;
    border: 2px solid #A7E7F9;
    width: 22%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: 0.4s;
}
.container .text .J a:hover {
    color: #061E35;
    background-color: #A7E7F9;
    border-color: #A7E7F9;
    box-shadow: 0 0 10px #A7E7F9,
                 0 0 20px #A7E7F9,
                 0 0 40px #A7E7F9;
    
}


.container .images {
    width: 45%;
    height: 78%;
    box-sizing: border-box;
    padding: 1% 2%;
}

.container .images .st, .nd, .rd{
    height: 33%;
    width: 34.5%;
    background-color: aliceblue;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.container .images .nd{
    background-color: aliceblue;
    height: 60%;
    width: 62.5%;
    left: 22.5%;
    top: -15%;
    z-index: 100;
}
.container .images .rd{
    background-color: aliceblue;
    left: 65%;
    top: -23%;
}

.container .images .nd img {
   width: 95%;
   border-radius: 3px;

}

.container .images .st img {
    width: 95%;
}
.container .images .rd img{
    width: 95%;
}

.container .images p {
    color: #061E35;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: small;
}
.container .images .nd p {
    font-weight: 400;
    font-size: large;
}

#about {

    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 14vh;
    background-image: url("images/abtt.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition-property: initial;
}

#about .abt-desc {
    width: 45%;
    height: 78%;
    box-sizing: border-box;
}

#about .abt-icon{
    width: 40%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 20px solid;
    border-top: 40px solid;
    border-bottom: 50px solid;
    border-color: #213241;
}

#about .abt-icon img {
    width: 70%;
}


#about .abt-desc{
    
    box-sizing: border-box;
    width: 45%;
    height: 78%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#about .abt-desc h2{
    background-color: #061E35;
    padding: 16px;
    border: 15px solid;
    border-color: #213241;
    font-size: x-large;
    font-weight: 600;
    color: #fff;
}

#about .abt-desc p {
    line-height: 23px;
    color: #fff;
}
#about .abt-desc .che-gall{
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: flex-end;

}
#about .abt-desc .che-gall a {
    background-color: #061E35;
    color: #fff;
    width: 200px;
    text-decoration: none;
    padding: 2px 4px;
    border: 2px solid #213241;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


#about .abt-desc .che-gall a:hover{
    color: #061E35;
    background-color: #A7E7F9;
    border-color: #A7E7F9;
    box-shadow: 0 0 10px #A7E7F9,
                 0 0 20px #A7E7F9,
                 0 0 40px #A7E7F9;
    
}
#about .abt-desc .che-gall a p:hover{
    color: #061E35;
    
}




